<!-- Toolbar -->
<md-toolbar class="toolbar" layout="row" >
    <div class="md-toolbar-tools filled">
        <!--md-menu>
            <md-button aria-label="Menu" class="md-icon-button filled" ng-click="$mdOpenMenu($event)">
                <md-icon md-menu-origin md-svg-src="svg/menu.svg">menu</md-icon>
            </md-button>
            <md-menu-content width="4" >
                <md-menu-item ng-repeat="ctgry in categories">
                    <md-button aria-label="{{ctgry.code}}" ng-click="recipie(ctgry.id)">{{ctgry.label | i18next}}</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu-->
        <h2 class="md-flex">{{'app.name' | i18next}}</h2>
        <span flex></span>
        <md-menu>
            <md-button aria-label="Setting" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                <md-icon md-menu-origin class="material-icons">more_vert</md-icon>
            </md-button>
            <md-menu-content width="3" >
                <md-menu-item>
                    <md-button ng-click="share()">Share</md-button>
                </md-menu-item>     
                <md-menu-item>
                    <md-button ng-click="rateus()">Rate Me</md-button>
                </md-menu-item> 
                <md-menu-item>
                    <md-button ng-click="feedback()">Feedback</md-button>
                </md-menu-item>     
            </md-menu-content>
        </md-menu>
   </div>    
</md-toolbar>

<!-- Card for casual mode -->
<md-card>
 <img ng-src="img/relaxed.jpg" class="md-card-image" alt="Casual">
 <md-card-header>
    <md-card-header-text>
       <span class="md-title">Casual</span>
       <span class="md-subhead">Chill out and sharpen your Reasoning skills</span>
    </md-card-header-text>
 </md-card-header>
    <!--md-card-title>
        <md-card-title-text>
            <span class="md-headline">Casual</span>
        </md-card-title-text>
    </md-card-title-->

     <md-card-actions layout="row" layout-align="end center">
        <!--md-button>Download</md-button-->
        <md-button>Start</md-button>
        <!--md-card-icon-actions>
           <md-button class="md-icon-button" aria-label="icon">
              <md-icon class="material-icons">add</md-icon>
           </md-button>
        </md-card-icon-actions-->
     </md-card-actions>
     <!--md-card-content>
        <p>Chill out and sharpen your Reasoning skills</p>
     </md-card-content-->
</md-card>

<!-- Card for challenge mode -->
<md-card>
 <img ng-src="img/competitive.jpg" class="md-card-image" alt="Challenge">
 <md-card-header>
    <md-card-header-text>
       <span class="md-title">Challenge</span>
       <span class="md-subhead">Challenge your reasoning skills</span>
    </md-card-header-text>
 </md-card-header>
    <!--md-card-title>
        <md-card-title-text>
            <span class="md-headline">Challenge</span>
        </md-card-title-text>
    </md-card-title-->

     <md-card-actions layout="row" layout-align="end center">
        <md-button>Scorecard</md-button>
        <md-button>Start</md-button>
        <!--md-card-icon-actions>
           <md-button class="md-icon-button" aria-label="icon">
              <md-icon class="material-icons">add</md-icon>
           </md-button>
        </md-card-icon-actions-->
     </md-card-actions>
     <!--md-card-content>
        <p>Challenge your reasoning skills</p>
     </md-card-content-->
</md-card>

<!-- Card for compete mode -->
<md-card>
 <img ng-src="img/relaxed.jpg" class="md-card-image" alt="Timer">
 <md-card-header>
    <md-card-header-text>
       <span class="md-title">Timer</span>
       <span class="md-subhead">Test your patiennce, race against time</span>
    </md-card-header-text>
 </md-card-header>
    <!--md-card-title>
        <md-card-title-text>
            <span class="md-headline">Timer</span>
        </md-card-title-text>
    </md-card-title-->

 <md-card-actions layout="row" layout-align="end center">
    <md-button>Scorecard</md-button>
    <md-button>Start</md-button>
    <!--md-card-icon-actions>
       <md-button class="md-icon-button" aria-label="icon">
          <md-icon class="material-icons">add</md-icon>
       </md-button>
    </md-card-icon-actions-->
 </md-card-actions>
 <!--md-card-content>
    <p>Test your patiennce</p>
 </md-card-content-->
</md-card>
